* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
    }

    body {
        display: flex;
        height: 100vh;
        background-color: var(--bg-color-first);
        color: var(--color-first);
    }
    :root {
        --bg-color-first: #1a1a1a; /* фон чата */
        --bg-color-second: #252525;/* остальной фон */
        --bg-color-third: #333;/* цвет incoming msg */
        --bg-color-fourth: #FF096C; /* акцентный цвет */
        --bg-color-fifth: #252525;/* Цвет textarea*/
        --bg-color-sixth: #757575;/* цвет hover */
        --color-first: #e0e0e0;
        --color-second: #444;
        --color-third: #999;
    }
    [data-theme="dark-blue"] {
        --bg-color-first: #1a1a1a; /* фон чата */
        --bg-color-second: #252525; /* остальной фон */
        --bg-color-third:  #333; /* цвет incoming msg */
        --bg-color-fourth: #5865f2; /* акцентный цвет */
        --bg-color-fifth: #252525; /* Цвет textarea*/
        --bg-color-sixth: #757575; /* цвет hover */
        --color-first: #e0e0e0;
        --color-second: #444;
        --color-third: #999;
    }
    [data-theme="light-pink"] {
        --bg-color-first: #fdfdfd; /* фон чата */
        --bg-color-second: #fff8fa; /* остальной фон */
        --bg-color-third:  #757575; /* цвет incoming msg */
        --bg-color-fourth: #FF096C; /* акцентный цвет */
        --bg-color-fifth:  #fff; /* Цвет textarea*/
        --bg-color-sixth: #a5a5a5; /* цвет hover */
        --color-first: #444;
        --color-second: white;
        --color-third: #666;
    }
    [data-theme="light-blue"] {
        --bg-color-first: #fff; /* фон чата */
        --bg-color-second: #f6f5fc; /* остальной фон */
        --bg-color-third:  #757575; /* цвет incoming msg */
        --bg-color-fourth: #5865f2; /* акцентный цвет */
        --bg-color-fifth:  #fff; /* Цвет textarea*/
        --bg-color-sixth: #a5a5a5; /* цвет hover */
        --color-first: #444;
        --color-second: white;
        --color-third: #666;
    }
    .friends-sidebar {
        width: 250px;
        background-color: var(--bg-color-second);
        border-right: 1px solid #333;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .friends-sidebar::-webkit-scrollbar {
        display: none;
    }
    .friends-header {
        height: 60px;
        padding: 0 20px 15px;
        flex-shrink: 0;
        border-bottom: 1px solid  #333;
        margin-bottom: 15px;
        padding-top: 15px;
    }
    .friends-list-container {
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none; /* Для Firefox */
        -ms-overflow-style: none; /* Для IE и Edge */
    }
    .friends-list-container::-webkit-scrollbar {
        display: none; /* Для Chrome, Safari */
    }
    .friends-list {
        list-style: none;
        padding: 0 0 20px 0;
    }

    .friend-item {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .friend-item:hover {
        background-color: var(--bg-color-sixth);
    }
    .friend-item.new-message {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s ease;
    }

    .friend-item.new-message .friend-last-message {
        font-weight: bold;
        color: #fff;
    }
    .friend-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #444;
        margin: 10px;
        overflow: hidden;
    }


    .friend-name {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
    }
    .friend-status {
        font-size: 12px;
        color: var(--color-third);
    }
    .buttons-sidebar {
        width: 60px;
        background-color: var(--bg-color-second);
        border-right: 1px solid #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 14px 0;
        justify-content: space-between;
        height: 100vh;
    }
    .buttons-sidebar .sidebar-button:last-child {
        margin-bottom: 20px;
    }
    .sidebar-button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: var(--bg-color-fourth);
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }

    .chat-header {
        background-color: var(--bg-color-second);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chat-header-actions {
        display: flex;
        align-items: center;
    }

    .more-options-button {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        margin-left: 15px;
    }

    .chat-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #1e1e1e;
    }
    .chat-current-friend {
        display: flex;
        align-items: center;
    }

    .chat-messages {
        flex: 1;
        padding: 20px;
        overflow-y: auto; /* Оставляем прокрутку */
        background-color: var(--bg-color-first);
        scrollbar-width: none; /* Для Firefox */
        -ms-overflow-style: none; /* Для IE и Edge */
        justify-content: flex-end;
        scroll-behavior: smooth;
    }
    .chat-messages::-webkit-scrollbar {
        display: none;
    }
    .message {
        margin-bottom: 15px;
        max-width: 70%;
        width: fit-content;
    }

    .message-incoming {
        align-self: flex-start;
    }

    .message-outgoing {
        align-self: flex-end;
        margin-left: auto;
    }

    .message-content {
        padding: 10px 15px;
        border-radius: 18px;
        line-height: 1.4;
        word-wrap: break-word;
        color: var(--color-second);
    }

    .message-incoming .message-content {
        border-top-left-radius: 5px;
        text-align: left;
        background-color: var(--bg-color-third);
    }

    .message-outgoing .message-content {
        background-color:  var(--bg-color-fourth);
        border-top-right-radius: 5px;
        text-align: right;
    }
    .message-info {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
    }

    .message-incoming .message-info {
        justify-content: flex-start;
    }

    .message-outgoing .message-info {
        justify-content: flex-end;
    }

    .message-time {
        font-size: 12px;
        color: var(--color-third);
        margin-top: 2px;
    }

    .chat-input {
        padding: 15px 20px;
        border-top: 1px solid #333;
        display: flex;
        align-items: center;
        background-color: var(--bg-color-second);
    }

    .chat-input textarea {
        flex: 1;
        background-color: var(--bg-color-fifth);
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        color: var(--color-first);
        resize: none;
        height: 40px;
        max-height: 120px;
        outline: none;
    }

    .send-button {
        background-color: var(--bg-color-fourth);
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .videochat-sidebar {
        width: 60px;
        background-color: #1e1e1e;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .friend-item {
        position: relative;
    }
    .friend-info {
        flex: 1;
        min-width: 0;
    }
    .friend-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }
    .friend-last-time {
        font-size: 11px;
        color: var(--color-third);
        margin-left: 10px;
    }
    .friend-last-message {
        font-size: 12px;
        color: var(--color-third);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
        text-align: left;
        bottom: 10px;
        right: 20px;
    }

    .videochat-button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color:  var(--bg-color-fourth);
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        transition: background-color 0.2s;
    }
    .user-message {
        font-size: 12px;
        color: #999;
        margin-top: 5px;
        text-align: left;
    }

    .message-outgoing .user-message {
        text-align: right;
        color: #999;
    }

    .message-incoming .user-message {
        text-align: left;
        color: #999;
    }

    .videochat-icon {
        font-size: 20px;
    }

    .icon {
        font-size: 20px;
    }
    .add-friend-form {
        display: none;
        position: absolute;
        left: 60px;
        top: 50px;
        background: white;
        padding: 15px;
        border-radius: 8px;
        background: var(--bg-color-third);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: 100;
        width: 250px;
    }

    .add-friend-form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .add-friend-form button {
        background: #4CAF50;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
        background:  var(--bg-color-fourth);
        width: 100%;
    }
