* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
    }

body {
        height: 100vh;
        background-color: var(--bg-color-first);
        color: var(--color-first);
    }
:root {
    --bg-color-first: #1a1a1a;
    --bg-color-second: #252525;
    --bg-color-third: #333;
    --bg-color-fourth: #FF096C;
    --color-first: #e0e0e0;
    --color-second: #e0e0e0;
    --color-third: #FF096C;
}
[data-theme="dark-blue"] {
    --bg-color-first: #1a1a1a; /* задний фон */
    --bg-color-second: #252525; /* фон контейнера формы */
    --bg-color-third:  #333; /* фон полей для ввода */
    --bg-color-fourth: #5865f2; /* акцентный цвет */
    --color-first: #e0e0e0;
    --color-second: #e0e0e0;
    --color-third: #7289da;
}
[data-theme="light-pink"] {
    --bg-color-first: #fff0f3; /* задний фон */
    --bg-color-second: #f9f9f9; /* фон контейнера формы */
    --bg-color-third:  #eee; /* фон полей для ввода */
    --bg-color-fourth: #FF096C; /* акцентный цвет */
    --color-first: #444;
    --color-second: #f1f1f1;
    --color-third: #FF096C;
}
[data-theme="light-blue"] {
    --bg-color-first: #f3f0ff; /* задний фон */
    --bg-color-second: #f9f9f9; /* фон контейнера формы */
    --bg-color-third:  #eee; /* фон полей для ввода */
    --bg-color-fourth: #5865f2; /* акцентный цвет */
    --color-first: #444;
    --color-second: #f1f1f1;
    --color-third: #7289da;
}
.settings-container {
        margin-left: 30%;
        background-color: var(--bg-color-second);
        height: 100vh;
        width: 40%;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    }
.avatar {
        width: 144px;
        height: 144px;
        border-radius: 50%;
        background-color: var(--bg-color-second);
        margin: 0 auto;
        margin-top: 8%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Важно: изображение заполнит круг без искажений */
        display: block;
    }
.login-container {
        text-align: center;
        margin-top: 2%;
        font-size: 20px;
        color: var(--color-first);
}
.name-container {
        text-align: center;
        margin-top: 2%;
        font-size: 16px;
        color: var(--color-first);
}
.profile-button {
        width: 60%;
        height: 6vh;
        margin: auto;
        margin-top: 5%;
        border-radius: 4px;
        cursor: pointer;
        color: var(--color-second);
        background: var(--bg-color-fourth);
        line-height: 6vh;
        text-align: center;
        display: inline-block;
}