<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Messenger - Чат с друзьями</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body th:data-userid="${userId}">
<div class="buttons-sidebar">
    <img src="/images/logo.png" alt="logo">
    <button id="add-button" class="sidebar-button" title="Добавить друга" style="margin-top: 20px;">
        <img src="/images/add-friend.png" alt="add">
    </button>

    <div style="flex-grow: 1;"></div>
        <button class="sidebar-button" title="Настройки">
            <img src="/images/setting.png" alt="Настройки">
        </button>
    <form method="post" action="/chat">
        <div id="add-friend-form" class="add-friend-form">
            <input type="text" id="friend-username" name="name" placeholder="Введите имя пользователя" required>
            <button type="submit" id="submit-add-friend">Добавить</button>
        </div>
    </form>
</div>
<div class="friends-sidebar">
    <div class="friends-header">
        <h2>Друзья</h2>
    </div>
    <div class="friends-list-container">
        <ul class="friends-list">
            <li class="friend-item"
                th:each="chat : ${chats}"
                th:id="'chat-' + ${chat.id}"
                th:onclick="'window.location.href=\'/chat/' + ${chat.id} + '\''">
                <div class="friend-avatar">
                    <img src="/images/profile.png" alt="profile" width="40" height="40">
                </div>
                <div class="friend-info">
                    <div class="friend-header">
                        <span th:text="${userId == chat.firstId} ? ${chatNames.get(chat.secondId)} : ${chatNames.get(chat.firstId)}"
                            class="friend-name"></span>
                        <span th:if="${not chat.messages.empty}"
                              th:text="${@dateUtils.formatMessageTime(chat.messages[chat.messages.size()-1].timestamp)}"
                              class="friend-last-time"></span>
                    </div>
                    <div th:if="${not chat.messages.empty}"
                         th:text="${chat.messages[chat.messages.size()-1].content}"
                         class="friend-last-message"></div>
                    <div th:unless="${not chat.messages.empty}" class="friend-last-message">Нет сообщений</div>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="chat-container">
    <div class="chat-header">
        <div class="chat-current-friend">
            <div class="friend-avatar" style="margin-right: 10px;">
                <img src="/images/profile.png" alt="profile" width="40" height="40">
            </div>
            <div>
                <div class="friend-name" th:text="${currentFriend} ? ${currentFriend}: 'Выберите чат'"></div>
                <div style="font-size: 12px; color: #999;">в сети</div>
            </div>
        </div>
        <div class="videochat-sidebar">
            <!-- <button class="videochat-button" title="Начать видеочат">
                <span class="videochat-icon">📹</span>
            </button> -->
        </div>
    </div>
    <div class="chat-messages"
        >
        <div th:if="${messages}"
             th:each="message : ${messages}" th:class="${message.getSenderId() != userId} ? 'message message-incoming' : 'message message-outgoing'">
            <div th:text="${message.getContent()}" class="message-content"></div>
            <div class="message-info">
                <!-- <span th:text="'От ' + ${chatNames.get(message.getSenderId())} + ': '" class="user-message"></span> -->
                <span th:text="${@messageDateUtils.formatMessageTime(message.timestamp)}" class="message-time"></span>
            </div>
        </div>

    </div>
    <div class="chat-input">
        <textarea id="message-input" placeholder="Написать сообщение..."></textarea>
        <button id="send-button" class="send-button" th:data-chatid="${chatId}" >
            <span class="icon">→</span>
        </button>
    </div>
</div>
<audio id="notificationInSound" src="/sounds/telegram_soundin.mp3" preload="auto"></audio>
<audio id="notificationOutSound" src="/sounds/telegram_soundout.mp3" preload="auto"></audio>
<script src="/js/chat.js"></script>
</body>
</html>