<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Настройки</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body th:data-friendlogin="${user.getLogin}" data-theme="">
<div class="settings-container">
  <div class="avatar">
    <img th:src="${user.getAvatarPath} ? '/' + ${user.getAvatarPath} : '/images/profile.png'" alt="profile" id="avatar-image" width="144" height="144">
  </div>
  <div class="login-container" th:text="${user.getLogin()}">Login</div>
  <div class="name-container" th:text="'@' + ${user.getName()}">@Name</div>
  <div class="profile-button" id="message-button">Отправить сообщение</div>
</div>
<script src="/js/profile.js"></script>
</body>
</html>