<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body th:data-userid="${user.getId}", data-theme="">
    <div class="settings-container">
        <div class="avatar">
          <img th:src="${user.getAvatarPath} ? '/' + ${user.getAvatarPath} : '/images/profile.png'" alt="profile" id="avatar-image" width="144" height="144">
        </div>
        <div class="login-container" th:text="${user.getLogin()}">Login</div>
        <div class="name-container" th:text="'@' + ${user.getName()}">@Name</div>
        <div class="data-input-container">
            <label for="image-file" class="input-label">Изменить аватар</label>
            <input type="file" id="image-file" accept="image/jpeg">
        </div>
        <div class="theme-switch-container">
            <input type="radio" id="themeChoice1" name="theme" value="dark-pink" />
            <input type="radio" id="themeChoice2" name="theme" value="dark-blue" />
            <input type="radio" id="themeChoice3" name="theme" value="light-pink" />
            <input type="radio" id="themeChoice4" name="theme" value="light-blue" />
        </div>
        <div class="logout-button" th:onclick="'window.location.href=\'/logout' + '\''">Выйти из аккаунта</div>
    </div>
    <script src="/js/settings.js"></script>
</body>
</html>